{% extends 'base.html.twig' %}

{% block body %}
    <p>Actions:</p>
    <ul>
        <li>
            <a href="">Form</a>
        </li>
        <li>
            <a href="">Subscriptions list</a>
        </li>
    </ul>
{% endblock %}